<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-08-11T21:16:14Z</date>
		<key>actualSize</key>
		<integer>498</integer>
		<key>attributeModDate</key>
		<date>2010-01-22T15:02:16Z</date>
		<key>createDate</key>
		<date>2010-01-22T15:02:16Z</date>
		<key>creationDate</key>
		<date>2010-09-20T21:27:33Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>2BF94CAE-CE08-4D94-AEF2-53A9430FFCB5</string>
		<key>lastModifiedDate</key>
		<date>2010-01-22T15:02:16Z</date>
		<key>originalPath</key>
		<string>/Users/Chris/workdir_oberon/Code/DynamicCall.mod</string>
		<key>originalSize</key>
		<integer>498</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>2CC507C1-B47C-478C-A502-5B8EA089EDA4</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>501</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
