<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-08-11T21:16:14Z</date>
		<key>actualSize</key>
		<integer>250</integer>
		<key>attributeModDate</key>
		<date>2010-01-22T14:22:56Z</date>
		<key>createDate</key>
		<date>2010-01-22T14:22:56Z</date>
		<key>creationDate</key>
		<date>2010-09-20T21:27:33Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>169C520F-6676-4F71-A034-8684467F1DB1</string>
		<key>lastModifiedDate</key>
		<date>2010-01-22T14:22:56Z</date>
		<key>originalPath</key>
		<string>/Users/Chris/workdir_oberon/Code/User.mod.Bak</string>
		<key>originalSize</key>
		<integer>250</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>F7885403-F015-478E-B7FE-C54E377C736E</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>501</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
