<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-09-16T22:34:12Z</date>
		<key>actualSize</key>
		<integer>12589</integer>
		<key>attributeModDate</key>
		<date>2010-09-16T22:28:54Z</date>
		<key>createDate</key>
		<date>2010-09-16T22:26:02Z</date>
		<key>creationDate</key>
		<date>2010-09-20T21:27:33Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>AF5E064F-F761-4401-B264-9E2718568F69</string>
		<key>lastModifiedDate</key>
		<date>2010-09-16T22:26:02Z</date>
		<key>originalPath</key>
		<string>/Users/Chris/workdir_oberon/osg.Mod</string>
		<key>originalSize</key>
		<integer>12589</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>559047528</integer>
				<key>fileType</key>
				<integer>1413830740</integer>
				<key>id</key>
				<string>E399B51D-F532-417D-B5E6-207FA853A7EE</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>501</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
