<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-01-22T14:04:57Z</date>
		<key>actualSize</key>
		<integer>240</integer>
		<key>attributeModDate</key>
		<date>2010-01-22T14:04:57Z</date>
		<key>createDate</key>
		<date>2010-01-22T14:04:57Z</date>
		<key>creationDate</key>
		<date>2010-08-11T21:16:13Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>0E4110FB-FD28-48B1-A4F6-8966CF582FD0</string>
		<key>lastModifiedDate</key>
		<date>2010-01-22T14:04:57Z</date>
		<key>originalPath</key>
		<string>/Users/Chris/workdir_oberon/Test.mod.Bak</string>
		<key>originalSize</key>
		<integer>240</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>50E4931D-04CE-46AE-91F6-08129EC8FD38</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>501</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
