<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-01-22T13:58:01Z</date>
		<key>actualSize</key>
		<integer>419</integer>
		<key>attributeModDate</key>
		<date>2010-01-22T13:58:01Z</date>
		<key>createDate</key>
		<date>2010-01-22T13:58:01Z</date>
		<key>creationDate</key>
		<date>2010-08-11T21:16:13Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>8BAD547E-13DC-4BD5-87A9-3783991FDC0A</string>
		<key>lastModifiedDate</key>
		<date>2010-01-22T13:58:01Z</date>
		<key>originalPath</key>
		<string>/Users/Chris/workdir_oberon/Test.Obj</string>
		<key>originalSize</key>
		<integer>419</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>CE27DF83-688B-4009-9FE7-C20B43C5B545</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>501</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
