<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-01-22T15:14:38Z</date>
		<key>actualSize</key>
		<integer>763</integer>
		<key>attributeModDate</key>
		<date>2010-01-22T15:14:38Z</date>
		<key>createDate</key>
		<date>2010-01-22T15:14:38Z</date>
		<key>creationDate</key>
		<date>2010-08-11T21:16:13Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>EDECC293-4006-4DB1-9A1D-EEDF2D571C4A</string>
		<key>lastModifiedDate</key>
		<date>2010-01-22T15:14:38Z</date>
		<key>originalPath</key>
		<string>/Users/Chris/workdir_oberon/Example1.Obj</string>
		<key>originalSize</key>
		<integer>763</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>4DCE7C53-1CFC-49BE-9569-0B696008D327</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>501</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
