<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-01-22T15:02:41Z</date>
		<key>actualSize</key>
		<integer>496</integer>
		<key>attributeModDate</key>
		<date>2010-01-22T15:02:41Z</date>
		<key>createDate</key>
		<date>2010-01-22T15:02:41Z</date>
		<key>creationDate</key>
		<date>2010-08-11T21:16:13Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>5C934FB7-65E5-4413-90F2-2A93D6AA350E</string>
		<key>lastModifiedDate</key>
		<date>2010-01-22T15:02:41Z</date>
		<key>originalPath</key>
		<string>/Users/Chris/workdir_oberon/DynamicCall.Obj</string>
		<key>originalSize</key>
		<integer>496</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>3A56B5D9-DBD7-49C4-9D07-51BA59F873E7</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>501</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
