<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-01-22T15:43:54Z</date>
		<key>actualSize</key>
		<integer>547</integer>
		<key>attributeModDate</key>
		<date>2010-01-22T15:43:54Z</date>
		<key>createDate</key>
		<date>2010-01-22T15:43:54Z</date>
		<key>creationDate</key>
		<date>2010-08-11T21:16:13Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>2E0181D8-BF49-4D2A-956D-C22897C59676</string>
		<key>lastModifiedDate</key>
		<date>2010-01-22T15:43:54Z</date>
		<key>originalPath</key>
		<string>/Users/Chris/workdir_oberon/Example3.mod</string>
		<key>originalSize</key>
		<integer>547</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>9BA3D9E2-773F-4903-9C44-3E255125883D</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>501</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
