<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-01-22T15:32:27Z</date>
		<key>actualSize</key>
		<integer>671</integer>
		<key>attributeModDate</key>
		<date>2010-01-22T15:32:27Z</date>
		<key>createDate</key>
		<date>2010-01-22T15:32:27Z</date>
		<key>creationDate</key>
		<date>2010-08-11T21:16:13Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>715D8ADA-7224-489E-8797-611BEB0B15EE</string>
		<key>lastModifiedDate</key>
		<date>2010-01-22T15:32:27Z</date>
		<key>originalPath</key>
		<string>/Users/Chris/workdir_oberon/Example2.mod.Bak</string>
		<key>originalSize</key>
		<integer>671</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>34CD69FA-090D-48C3-8D97-B64BD4CFFE79</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>501</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
