<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-01-22T15:01:27Z</date>
		<key>actualSize</key>
		<integer>503</integer>
		<key>attributeModDate</key>
		<date>2010-01-22T15:01:27Z</date>
		<key>createDate</key>
		<date>2010-01-22T15:01:27Z</date>
		<key>creationDate</key>
		<date>2010-08-11T21:16:13Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>EB5F0C2E-4FD1-4180-8978-6B83D282A4F8</string>
		<key>lastModifiedDate</key>
		<date>2010-01-22T15:01:27Z</date>
		<key>originalPath</key>
		<string>/Users/Chris/workdir_oberon/User.Obj</string>
		<key>originalSize</key>
		<integer>503</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>87DE2ED7-0B40-4DB4-8609-128FC72D74DB</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>501</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
