<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-01-22T15:56:20Z</date>
		<key>actualSize</key>
		<integer>1638</integer>
		<key>attributeModDate</key>
		<date>2010-01-22T15:56:20Z</date>
		<key>createDate</key>
		<date>2010-01-22T15:56:20Z</date>
		<key>creationDate</key>
		<date>2010-08-11T21:16:13Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>16D1695A-04FD-4F64-9D16-ED14C58810F1</string>
		<key>lastModifiedDate</key>
		<date>2010-01-22T15:56:20Z</date>
		<key>originalPath</key>
		<string>/Users/Chris/workdir_oberon/Example4.Obj</string>
		<key>originalSize</key>
		<integer>1638</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>B2C59078-D679-4C88-ACA8-4AEB24303E0A</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>501</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
