<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-01-23T20:30:15Z</date>
		<key>actualSize</key>
		<integer>1675</integer>
		<key>attributeModDate</key>
		<date>2010-01-23T20:30:15Z</date>
		<key>createDate</key>
		<date>2010-01-23T20:30:15Z</date>
		<key>creationDate</key>
		<date>2010-08-11T21:16:13Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>2B939CCB-C1CA-494C-9B8D-328E779E74EE</string>
		<key>lastModifiedDate</key>
		<date>2010-01-23T20:30:15Z</date>
		<key>originalPath</key>
		<string>/Users/Chris/workdir_oberon/Example8.mod</string>
		<key>originalSize</key>
		<integer>1675</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>770211C0-52A3-4068-A8F8-A4767DC3E874</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>501</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
