<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-08-11T21:16:14Z</date>
		<key>actualSize</key>
		<integer>584</integer>
		<key>attributeModDate</key>
		<date>2010-01-23T12:22:20Z</date>
		<key>createDate</key>
		<date>2010-01-23T12:22:20Z</date>
		<key>creationDate</key>
		<date>2010-09-20T21:27:29Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>1FF7935F-FC79-4E34-87D6-F281B3D823C5</string>
		<key>lastModifiedDate</key>
		<date>2010-01-23T12:22:20Z</date>
		<key>originalPath</key>
		<string>/Users/Chris/workdir_oberon/Code/Example5.mod.Bak</string>
		<key>originalSize</key>
		<integer>584</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>8E7B7CC3-512A-4ED3-ACFC-C62C7C98B1BD</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>501</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
